@font-face {
    font-family: 'Rethink';
    src: url(./font/RethinkSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Rethink';
    src: url(./font/RethinkSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Rethink';
    src: url(./font/RethinkSans-Medium.ttf);
    font-weight: 700;
}

body {
    background-color: #B0DAFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Rethink';
}

header {
    background-color: #FEFF86;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    font-family: 'Rethink';
    font-weight: 500;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 80vw;
    height: 70vh;
    background-color: #DAF5FF;
}

#logo-div {
    display: flex;
    align-items: center;
    color: #0088ff;
    font-size: 50px;
    font-weight: 700;
}

#icon {
    filter: invert(33%) sepia(97%) saturate(2691%) hue-rotate(194deg) brightness(106%) contrast(103%);
    width: 35px;
    margin-left: 10px;
}

#add-task-header {
    color: white;
    background-color: #0088ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 40px;
    border: none;
}

#menu-board {
    display: flex;
    flex-direction: column;
}

#menu,
#delete-completed {
    display: flex;
    flex-direction: column;
}

#menu>button,
#delete-completed>button {
    font-family: 'Rethink';
    background-color: #FEFF86;
    height: 50px;
}

#delete-completed>button {
    background-color: #e8a8a8;
}

#mainboard {
    padding: 1rem;
}

#mainboard-project-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

#all-project-div {
    height: 95%;
    overflow-y: auto;
}

.project-header {
    display: grid;
    grid-template-columns: 20fr 1fr;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 10px;
    border-bottom: double;
    border-color: grey;
}

.show-todo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.hidden-todo {
    display: none;
}

.child-todo {
    display: grid;
    grid-template-columns: 1fr 1.5fr 15fr 7fr 1fr;
    padding: 5px;
}

.child-todo>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-todo-title {
    justify-self: flex-start;
}

#to-do-board {
    display: none;
    flex-direction: column;
}

#add-project-div {
    display: flex;
    justify-content: space-between;
}

#add-project-input-div {
    display: flex;
}

#sort-icon {
    width: 15px;
    height: 15px;
    padding-right: 5px;
}

#lemon-img {
    display: flex;
    width: 200px;
    height: 200px;
}