body {
    background-color: #C1ECE4;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

header {
    background-color: #FFD0D0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 80vw;
    background-color: #fff4f4;
}

#logo-div {
    display: flex;
    align-items: center;
    color: #3AA6B9;
    font-size: 50px;
    font-weight: 700;
}

#icon {
    filter: invert(75%) sepia(10%) saturate(2586%) hue-rotate(145deg) brightness(76%) contrast(87%);
    width: 35px;
    margin-right: 10px;
}

#add-task-header {
    color: white;
    background-color: #3AA6B9;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 40px;
    border: none;
}

#menu-div {
    display: flex;
    flex-direction: column;
}