@font-face {
    font-family: 'Rethink';
    src: url(./font/RethinkSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Rethink';
    src: url(./font/RethinkSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Rethink';
    src: url(./font/RethinkSans-Medium.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Rethink';
    src: url(./font/RethinkSans-Italic.ttf);
    font-style: italic;
}

body {
    background-color: #B0DAFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Rethink';
}

header {
    background-color: #FEFF86;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    font-family: 'Rethink';
    font-weight: 500;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 80vw;
    height: 70vh;
}

#logo-div {
    display: flex;
    align-items: center;
    color: #0088ff;
    font-size: 50px;
    font-weight: 700;
}

#icon {
    filter: invert(33%) sepia(97%) saturate(2691%) hue-rotate(194deg) brightness(106%) contrast(103%);
    width: 35px;
    margin-left: 10px;
}

#add-todo-header-button {
    color: white;
    background-color: #0088ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-todo-header-button:hover {
    background-color: #0056a1;
    transition: all 0.3s;
    transform: rotate(90deg);
}

#add-todo-header-button:active {
    background-color: #003766;
    transition: all 0.3s;
    transform: translateX(1px) rotate(90deg);
}


#menu-board {
    display: flex;
    flex-direction: column;
}

#menu,
#delete-completed {
    display: flex;
    flex-direction: column;
}

.menu-button {
    font-family: 'Rethink';
    background-color: #FEFF86;
    height: 50px;
    font-size: 15px;
    border: none;
}

.menu-selected {
    transition: all 0.1s;
    font-family: 'Rethink';
    border: none;
    height: 50px;
    font-size: 20px;
    background: linear-gradient(90deg, #FEFF86 10%, #DAF5FF 70%, #DAF5FF 100%);
    text-shadow: 1px 1px lightgrey;
}

.menu-button:hover {
    background-color: #e0e080;
    transition: all 0.3s;
}

#delete-completed-button {
    background-color: #e8a8a8;
}

#delete-completed-button:hover {
    background-color: #d37e7e;
    transition: all 0.3s;
}

#mainboard {
    padding: 1rem;
    background-color: #DAF5FF;
}

#mainboard-project-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#all-project-div {
    height: 95%;
    overflow-y: auto;
}

.project-header {
    display: grid;
    grid-template-columns: 20fr 1fr;
    padding: 10px;
    border-bottom: double;
    border-color: grey;
}

.project-title {
    font-weight: 500;
    font-size: 1.5rem;
}

.project-title:hover,
.child-todo-title:hover,
.no-todo-message:hover {
    transform: translate(-1px, -1px);
    text-shadow: 1px 1px #a6a6a6;
    transition: all 0.2s;
}

.project-title:active,
.child-todo-title:active,
.no-todo-message:active {
    transform: translate(1px, 1px);
    text-shadow: 1px 1px #a6a6a6;
    transition: all 0.2s;
}

.show-todo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.hidden-todo {
    display: none;
}

.child-todo {
    display: grid;
    grid-template-columns: 1fr 1.5fr 15fr 7fr 1fr;
    padding: 5px;
}

.child-todo>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-todo-title {
    justify-self: flex-start;
}

#edit-todo-board {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    margin: 0 10%;
    border-radius: 10px;
}

#lemon-img {
    display: flex;
    width: 200px;
    height: 200px;
}

#lemon-img:hover {
    transform: scale(0.8, 1.3);
    transition: all 0.3s;
}

#lemon-img:active {
    transform: scale(1.2, 0.8);
    transition: all 0.3s;
}

#to-do-board {
    display: none;
    flex-direction: column;
    height: 100%;
    border: groove 4px #005bfd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#edit-todo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

#edit-todo-tab,
#dialog-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0050eb;
    padding: 4px 8px;
    background: rgb(24, 170, 255);
    background: linear-gradient(180deg, rgba(0, 99, 255, 1) 0%, rgba(0, 78, 236, 1) 30%, rgba(24, 170, 255, 1) 100%);
    color: white;
    text-shadow: 1px 1px 2px black;
}

#edit-close-button,
#close-button,
.remove-project-button,
.delete-todo-button {
    background: linear-gradient(135deg, rgb(254, 205, 188) 20%, rgba(253, 151, 120, 1) 34%, rgba(255, 57, 16, 1) 67%, rgba(254, 49, 8, 1) 100%);
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 3px 1px #fe3108;
}

#edit-close-button:hover,
#close-button:hover,
.remove-project-button:hover,
.delete-todo-button:hover {
    background: linear-gradient(135deg, rgb(255, 219, 207) 20%, rgb(255, 210, 196) 34%, rgb(255, 82, 47) 67%, rgba(254, 49, 8, 1) 100%);
}

#edit-checkbox {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

#edit-urgent {
    margin-right: 20px;
}

#edit-date,
#edit-description,
#description {
    margin: 3px 0;
}

#edit-project-div,
#form-project-div {
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
}

#edit-project-input,
#new-project {
    margin: 2px 0;
}

#edit-project-invalid-message,
#project-invalid-message {
    font-size: 11px;
}

#edit-button-div,
#submit-button-div {
    display: flex;
    justify-content: center;
}

#edit-button,
#add-project-button,
#add-project-enter,
#sort-button,
#submit-button {
    border: 1px solid #003b77;
    border-radius: 4px;
    font-size: 14px;
    padding: 3px 10px;
    background: linear-gradient(180deg, rgba(254, 254, 254, 1) 10%, rgba(244, 244, 241, 255) 70%, rgba(221, 214, 201, 1) 100%);
}

#edit-button:hover,
#add-project-button:hover,
#add-project-enter:hover,
#sort-button:hover,
#submit-button:hover {
    box-shadow: inset 0 0 1px 1.5px rgba(186, 208, 240, 255);
}

#edit-button:active,
#add-project-button:active,
#add-project-enter:active,
#sort-button:active,
#submit-button:active {
    background: linear-gradient(180deg, rgba(221, 214, 201, 1) 10%, rgba(244, 244, 241, 255) 70%, rgba(254, 254, 254, 1) 100%);
}

#add-project-div {
    display: flex;
    justify-content: space-between;
}

#add-project-button,
#add-project-enter {
    font-size: 18px;
}

#add-project-input-div {
    display: flex;
}

#add-project-input {
    margin: 0 10px;
    width: 200px;
}

#sort-div {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 13px;
}

#sort-icon {
    width: 15px;
    height: 15px;
    padding-right: 5px;
}

#dialog {
    width: 250px;
    height: 300px;
    padding: 0;
    border: groove 4px #005bfd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 250px;
}

#description-div {
    display: flex;
    flex-direction: column;
}

.no-todo-message {
    font-size: 20px;
    font-style: italic;
}